  <h1>Events</h1>
  <p>User: <%=current_user.email%> authorised!</p>
  <%@events.reverse_each do |event|%>
  
    <p><h3><%= event.title %></h3><br>
          <%= image_tag event.image_url(:thumb) if event.image? %>
         <%= event.description %>

         </p>
  <hr>
  <%end%>
  