<h1>    Butterflies</h1>

<p>
      Mole
      Valley is nationally important for its butterflies. These are cold-blooded
      insects that need warmth, shelter and the right plants to be able to fly, feed
      and breed. The warm, south-facing slopes of the North Downs with their variety
      of plants, support the highest numbers of butterflies locally. Most adult
      butterflies need nectar to feed on, and will take it from a wide range of
      flowers. A few feed on ‘honeydew’, a sweet sticky substance produced by aphids,
      which coats the leaves of trees, and the Purple and White-letter Hairstreaks
      which use it spend most of their time in the treetops. Caterpillars are choosy
      about what they will eat, and female butterflies lay eggs on the plants that
      the caterpillar will feed on as soon as it hatches. Adonis Blue and Chalkhill
      Blue caterpillars feed on Horseshoe Vetch, which only grows on chalk grassland,
      so they are restricted to this habitat. Caterpillars of the Red Admiral and
      Peacock feed on nettles, and these butterflies are found in many more places,
      including parks and gardens.</p>

      <%@butterflies.reverse_each do |butterfly|%>
    <hr><p><h3><%= butterfly.name %></h3><br>
          <img src=<%=butterfly.image %> height="200" width="200"><br>
         <%= butterfly.description %>
         </p>
  <%end%>
  <hr><p><h3>Silver_Spotted_Skipper</h3><br>
  <%= image_tag("butterflies/Silver_Spotted_Skipper.jpg",:height=>"200", :width=>"200") %><br>
  This warmth-loving skipper is relatively-local, but is fairly easy to identify, since it is the only skipper found in the British Isles that has the distinctive white spots on the underside of the hindwings, which give the butterfly its name. Like other “golden” skippers, the male is distinguished from the female by the sex brand on its forewings, which is a line of specialised scent scales. This butterfly is restricted to closely-grazed chalk downland sites in southern England.
  </p>

     