  <h1>What is here?</h1>
What you can see

    <p>You can find here links to information on a range of characteristic species
    that are found in Mole Valley.

   <p><%= link_to "Birds", home_what_sub_path(:key => "birds" )%>


  <p><%= link_to "Butterflies", home_what_sub_path(:key => "butterflies" )%>

   <p><%= link_to "Fungi", home_what_sub_path(:key => "fungi" )%>


   <p><%= link_to "Plants", home_what_sub_path(:key => "plants" )%>