div#container{
	border-radius: 15px;
	display: block;
	position:relative;
	min-height: 1000px;
	width:1000px;
	margin:0 auto;
	background-color: #eff5fa;
	/*To add shadow*/
	box-shadow: 10px 10px 5px #888888;
}

p{

	padding:10px 15px;

}

header#page_header{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #bfc4c8;
	text-align: center;
	padding:10px 15px;
}

section#utility{
	float: right;
	font-size:1em;
}

a{
	color:#01a05f;
	text-decoration:none;
}




